# iverilog temp dirs:
sim_build

# verilator temp dirs:
obj_dir

# Test results from iverilog/cocotb:
results/*

# Other junk
__pycache__
.vscode
*.bak
raybox_sim_debug_target
raybox_sim_debug_target.exe
JUNK
